[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "ThirdParty/sVanillaPluginCommon"]
	path = ThirdParty/sVanillaPluginCommon
	url = https://github.com/WangPengZhan/sVanillaPluginCommon.git
[submodule "TemplatePlugin"]
	path = TemplatePlugin
	url = https://github.com/WangPengZhan/sVanillaTemplatePlugin.git
