[submodule "TemplatePlugin/ThirdParty/spdlog"]
	path = TemplatePlugin/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
